<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
</head>
<body>
    <form id="form">
        <input v-model="user"     type="text"     name="user" id="user" placeholder="Usuario ou email"><br>
        <input v-model="password" type="password" name="password" id="password" placeholder="Senha"><br>
        <input v-model="keep"     type="checkbox" name="keep" id="keep">
        <label for="keep">Mantenha-me conectado</label><br>
        {%if next %}<input v-model="next" type="hidden" name="next">{% endif %}
        <p><a href="{{ url_for('auth.register', next=next) }}">Cadastre-se aqui</a></p>
        <button @click.prevent="login($event)">Entrar</button>
    </form>

    {% include 'urls.html' %}
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="{{ url_for('static', filename='js/auth/auth.js') }}"></script>

    <script>
        form = document.getElementById("form")
        Vue.createApp({
            data() {
                return {
                    password: "etho",
                    user: "etho",
                    next: "{{ next }}",
                    keep: ""
                }
            },
            methods: {
                async login(event) {
                    if( this.user && this.password) {
                        let h = new Headers()
                        h.append("Authorization", "Basic " + btoa(`${this.user}:${this.password}`))
                        h.append('Accept', 'application/json')
                        h.append('Content-Type', 'application/json')
                        
                        fetch( URL_login,{
                            method: "post",
                            mode: "cors",
                            headers: h,
                            body: JSON.stringify({ next: this.next, keep: this.keep })
                        })
                        .then( response => response.json() )
                        .then( data => { window.location.href = data.location } )
                        .catch( ( error ) => { console.log(error) } )
                    }
                }
            },
            compilerOptions: {
                delimiters: ["${", "}$"]
            }
        }).mount("#form");

        
    </script>

</body>
</html>